
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
}
.header{
    width:auto;
    height:725px;
    /* border: 2px solid tomato; */
    background: linear-gradient(180deg, rgb(17, 17, 17)100%,rgba(254, 249, 249, 0.367) 100%);
    
}

.navbar-section-container{
    width: 80%;
    margin: 0 auto;
    height:5rem ;
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 3.6rem; */
    padding-top: 3.6rem;
}
.navbar-section-container i{
    display: none;
}
.nav-options{
    display: flex;
    flex-direction: row;
    width: 25rem;
    height: 2.8rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
}
.navbar-section-container h3{
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.nav-options p{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#home-btn{
    width: 5.5rem;
    height: 2.3rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 2.8rem;
    background: rgb(230, 83, 60);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#home-btn:hover{
    color: rgb(68, 26, 16) ;
}
.nav-options p:hover{
    color: rgb(230, 83, 60); 
    text-decoration: solid white;
}
.banner-section-container{
    width: 80%;
    margin: 0 auto;
    height: 35rem;
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}
.banner-section-content{
    width: 520px;
    height:500px;
    /* border: 2px solid greenyellow; */
}
.banner-section-content h3{
    color: rgb(255, 255, 255);
    font-size: 68px;
    font-weight: 900;
}
#shape{
    font-family: "Dancing Script", cursive;
    font-size: 80px;
}
.banner-section-content p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -40px;
}
.button-container{
    margin-top:28px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#join{
    width: 224px;
    height: 54px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#download-App{
    width: 224px;
    height: 54px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: none;
    border-radius: 42px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    
}
#join:hover{
    color: black;
}
#download-App:hover{
    color:rgb(230, 83, 60);
}
.banner-img-container{
    width: 520px;
    height:500px;
    /* border: 2px solid #12a9d7; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 125px;
}
.banner-img-container img{
    width: 349px;
    height: 580px;
    margin-top: 20px;
    
}
.video-tutorial{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 10px;
}
.circle-container{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    margin-right: 12px;
}
.number-1{
    font-size: 18px;
    font-weight: 900;
    color: rgb(250, 250, 249);
    width: 68px;
    height: 24px;
}
.description{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-top: 9px;
}
.workout-videos{
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 90px;

}
.number-2{
    font-size: 40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.description-02{
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 5px;
}
.habit-section-container{
    width: 60%;
    margin: 0 auto;
    height: 200px;
    /* border: 2px solid tomato; */
    margin-top: 50px;
}
.habit-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habit-section-content h3{
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.habit-section-content p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    top: -40px;
}
.habit-section-img-container{
    width: 80%;
    margin: 0 auto;
    height: 400px;
    /* border: 2px solid tomato; */
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
}
.movement img{
    border-radius: 50%;
    position: relative;
    left: 50px;
    border: 2px solid rgba(254, 249, 249, 0.367);
}
.movement h5{
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center; 
}
.movement p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    position: relative;
    top: -19px;
}
.time img{
    border-radius: 50%;
    position: relative;
    left: 50px;
    border: 2px solid rgba(254, 249, 249, 0.367);
}
.time h5{
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center; 
}
.time p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    position: relative;
    top: -19px;
}
.practice img{
    border-radius: 50%;
    position: relative;
    left: 50px;
    border: 2px solid rgba(254, 249, 249, 0.367);
}
.practice h5{
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center; 
}
.practice p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    position: relative;
    top: -19px;
}

.weight-loss img{
    border-radius: 50%;
    position: relative;
    left: 50px;
    border: 2px solid rgba(254, 249, 249, 0.367);
}
.weight-loss h5{
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center; 
}
.weight-loss p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    position: relative;
    top: -19px;
}
.run-extra-sction-container{
    width:70%;
    margin: 0 auto;
    height: 310px;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    padding: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.run-extra-sction-content{
    width: 443px;
    height: 330px;
    /* border: 2px solid aqua; */
}
.run-extra-sction-content h3{
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.run-extra-sction-content p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    top: -20px;
}
#join-now{
    width: 224px;
    height: 54px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#join-now:hover{
    color: black;
}
.run-extra-sction-img-container{
    width: 370px;
    height: 315px;
    /* border: 2px solid green; */
    border-radius:18px;
}
.run-extra-sction-img-container img{
    width: 100%;
    height: 100%;
    border-radius:18px;
}










/* Responsive section */
 
/* media Query for Mobile devices start */

@media screen and (max-width:430px) {

    .nav-options{
        display: none;
    }
    .navbar-section-container i{
        display:flex;
        color: rgb(255, 255, 255);
    }
    .navbar-section-container{
        width: 90%;
    }
    .banner-section-container{
        width: 90%;
        flex-direction: column;
    }
    .banner-section-content h3{
        color: rgb(255, 255, 255);
        font-size: 40px;
    }
    .banner-section-content{
        width: 352px;
        height: 335px;
    }
    #shape{

        font-size:60px;
    }
    .banner-section-content p{
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 30px;
    }
    .header{
        height:1230px;
    }
    .banner-img-container{
        width: 90%;
        margin-left: 20px;
        margin-top: 150px;
    }
    .workout-videos{
        width: 146px;
        height: 74px;
        right: -5px;
        top: 15px;
    }
    .video-tutorial{
        width: 156px;
        height: 73px;
        bottom: 190px;
        left: -10px;
    }
    .circle-container{
        width: 30px;
        height: 30px;
    }
    .description{
        font-size: 12px;
    }
    .number-2{
        font-size: 30px;

    }
    .description-02{
        font-size: 10px;
    }


































/*     
    .navbar-section-container{
        margin-left: 40px;
    }
    .navbar-section-container i{
        display:flex;
        color: rgb(255, 255, 255);
    }
    .nav-options{
        display: none;
    }
    .banner-section-container{
        flex-direction: column;
        margin-left: 40px;
    }
    .header{
        height:1280px;
    }
    .banner-img-container{
        margin-left: -10px;
        margin-top: 60px;
    }
    .habit-section-container{
        width: 90%;
        height: 130px;
    }
    .habit-section-content h3{
        font-size: 35px;
        font-weight: 900;
        color: rgb(255, 255, 255);
    }
    .habit-section-content p{
        text-align: center;
    }
    .habit-section-img-container{
        grid-template-columns: repeat(1,1fr);
        margin-top: 30px;
        height: 1330px;
        width: 60%;
        gap: 20px;
    }
    .movement img{
        left: 75px;
    }
    .time img{
        left: 75px;
    }
    .practice img{
        left: 75px;
    }
    .weight-loss img{
        left: 75px;
    }
    .run-extra-sction-container{
        flex-direction:column;
        height: 700px;
        padding: 25px;
       
    }
    .run-extra-sction-img-container{
        width: 390px;
    }
    .run-extra-sction-img-container img{
        /* margin-left: 20px; */
        /* position: relative;
        top: -30px; */
    /* } */ 
    











    
}